@import "reset.css";

.mobile-phone {
  width: 410px;
  height: 730px;
  background-color: #ccc;
  margin: 100px auto;
  border-radius: 3px;
  position: relative;
  border: 2px solid #aaa;
  overflow: hidden;
}

.card-container {
  position: absolute;
  top: 120px;
  left: 20px;
  display: flex;
  gap: 20px;

  -webkit-overflow-scrolling: touch; /* 관성: 마우스or터치 스크롤이 끝나 손을 떼어도 잠시 스크롤 지속 */
  scroll-snap-type: x mandatory; /* 일정부분 넘어가면 다음 카드로 넘어가게 하는 것 */

  /* 선택 제한, 자꾸 파란색으로 선택되어서 튕긴다 */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.card {
  width: 300px;
  height: 370px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
